<div *ngIf="crear_ticket" class="modal">
    <div class="card card-medium">
      <div class="row mb-3">
        <div class="row">
          <div class="col-md-4">
            <h5 for="nombreUsuario" class="cat">Nombre de la categoría:</h5>
          </div>
      </div>
      </div>
      <hr>
      <button  id="subir" class="btn mb-3" style="margin-left: 5px;">Agregar categoria</button>
      <button class="btn fondo_morado boton_menu" style="text-decoration: none;" (click)="cerrar()">Cerrar</button>
    </div>
  </div>
