<!-- VENTANA DE CREAR UN TICKET-->
<div *ngIf="crear_ticket" class="modal">
    <div class="card card-medium">
      <div class="row mb-3">
        <div class="col-md-12">
          <h5 class="titulo fs-3">NUEVO TICKET</h5>
          <hr/>
      </div>
      </div>
      <div *ngIf="getCategorias()!=null; else sincategorias ">
        <div class="row mb-3">
          <div class="col-md-4 mb-3">
            <label>Seleccione la categoría:<span *ngIf="error_crear" class="obligatorio">* Seleccione al menos una categoría </span></label>
          </div>
          <div class="col-md-8">
            <select [ngClass]="{'borde-rojo': error_crear}" class="form-select borde-morado" (change)="cargar_categoria($event)">
              <option selected value="null">Lista de categorías</option>
              <ng-container *ngFor="let categoria of categorias">
                <option [value]="categoria.id_categoria">{{ categoria.nombre }}</option>
              </ng-container>
            </select>
          </div>
        </div>
        <div *ngIf="mostrar_items">
          <div class="row mb-3">
            <div class="col-md-4 mb-3">
              <label>Seleccione el item: <span *ngIf="error_crear" class="obligatorio">* Obligatorio </span></label>
            </div>
            <div class="col-md-8">
              <select [ngClass]="{'borde-rojo': error_crear}" class="form-select borde-morado" (change)="cargar_item($event)">
                <option selected value="null">Item</option>
                <option *ngFor="let item of itemsPorCategoria" [value]="item.id_item">{{item.nombre}}</option>
              </select>
            </div>
          </div>
        </div>
        
        <div class="row mb-3">
          <div class="col-md-4">
            <label for="asunto">Asunto: <span *ngIf="error_crear" class="obligatorio">* Obligatorio </span></label>
          </div>
          <div class="col-md-8">
            <textarea [ngClass]="{'borde-rojo': error_crear}" type="text" class="form-control" placeholder="Ingrese el asunto del Ticket" [(ngModel)]="asunto"></textarea>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-4">
            <label for="descripcion">Descripción: <span *ngIf="error_crear" class="obligatorio">* Obligatorio </span></label>
          </div>
          <div class="col-md-8">
            <textarea [ngClass]="{'borde-rojo': error_crear}" type="text" class="form-control" placeholder="Ingrese la descripción del Ticket" [(ngModel)]="descripcion"></textarea>
          </div>
        </div>   
      </div>
      <ng-template #sincategorias>
        <div class="row">
          <div class="col d-flex flex-column align-items-center justify-content-center text-center">
            <h5 class="fs-3 text-muted">Debe existir al menos una categoría registrada para crear un ticket</h5>
            <img src="../../../assets/images/advertencia.png" alt="Advertencia" class="img-fluid" style="max-width: 100px;">
          </div>
        </div>
      </ng-template>
      <div class="card-footer mt-auto">
        <div class="row">
          <div class="col">
            <button  id="subir" class="btn borde-morado mt-3" style="width:100%;" (click)="crear()">CREAR TICKET</button>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button class="btn boton_morado mt-3" style="width:100%" (click)="cerrar_crearTicket()">CERRAR</button>
          </div>
        </div> 
      </div>
    </div>
</div>




<!--****************************** VENTANA DE VER UN TICKET******************************-->
<div *ngIf="ventana_VerTicket" class="modal">
  <div class="card card-medium">
    <div class="row mb-3">
      <!--Cargar el Ticket-->
      {{getTicket()}}
        <div class="col-md-12">
          <h5 class="titulo fs-3">DETALLES DEL TICKET </h5>
          <hr/>
        </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h5 class="letra-morada">Token:</h5>
      </div>
      <div class="col-md-8">
        <label>{{ticket?.token}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h5 class="letra-morada">Fecha:</h5>
      </div>
      <div class="col-md-8">
        <label>{{fecha}}</label>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <h5 class="letra-morada">Fecha límite de respuesta:</h5>
      </div>
      <div class="col-md-8">
        <label>{{fecha_limite}}</label>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <h5 class="letra-morada">Remitente:</h5>
      </div>
      <div class="col-md-8">
        <label>{{nombre}}<span class="separador"> | </span> buscarcorreoxd@gmail.com</label>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-4">
        <h5 class="letra-morada">Categoría del Ticket:</h5>
      </div>
      <div class="col-md-8">
        <label>{{categoria}}</label>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <h5 class="letra-morada">Item:</h5>
      </div>
      <div class="col-md-8">
        <label>{{item}}</label>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <h5 class="letra-morada">Responsable: </h5>
      </div>
      <div class="col-md-8">
        <label>{{responsable}}</label>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <h5 class="letra-morada">Estado:</h5>
      </div>
      <div class="col-md-8">
        <label>{{estado}}</label>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-4">
        <h5 class="letra-morada">Prioridad: </h5>
      </div>
      <div class="col-md-8">
        <label>{{prioridad}}</label>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-12">
        <h3 class="letra-morada" style="text-align:center;">Asunto:</h3><br/>
      </div>
      <div class="col-md-12">
        <textarea style="text-align:center;"  type="text" class="form-control ver" disabled="true">{{ticket?.asunto}}</textarea>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-12">
        <h3 class="letra-morada" style="text-align:center;">Descripción:</h3><br/>
      </div>
      <div class="col-md-12">
        <textarea style="text-align:center;"   type="text" class="form-control ver" disabled="true">{{ticket?.descripcion}}</textarea>
      </div>
    </div>
    <div class="card-footer mt-auto">
      <div class="row">
        <div class="col">
          <button class="btn boton_morado mt-3" style="text-decoration: none; width:100%;" (click)="cerrar_verTicket()">CERRAR</button>
        </div>
      </div> 
    </div>
  </div>
</div>






<!-- ************VENTANA DE EDITAR UN TICKET**********************-->
 <div *ngIf="ventana_editarTicket" class="modal">
  <div class="card card-medium">
    <div class="row mb-3">
      <!--Cargar el Ticket-->
      {{getTicket()}}
        <div class="col-md-12">
          <h5 class="titulo fs-3">DETALLES DEL TICKET </h5>
          <hr/>
        </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h5 class="letra-morada">Token:</h5>
      </div>
      <div class="col-md-8">
        <label>{{ticket?.token}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h5 class="letra-morada">Remitente:</h5>
      </div>
      <div class="col-md-8">
        <label>{{nombre}}<span class="separador"> | </span> buscarcorreoxd@gmail.com</label>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-4">
        <h5 class="letra-morada">Categoría:</h5>
      </div>
      <div class="col-md-8">
        <select [ngClass]="{'borde-rojo': error_crear}" class="form-select borde-morado" (change)="cargar_categoria($event)">
          <option selected value="null">Lista de categorías</option>
          <ng-container *ngFor="let cat of categorias">
            <option [value]="cat.id_categoria" [selected]="cat.id_categoria==id_categoriaSeleccionada">{{cat.nombre}}</option>
          </ng-container>
        </select>
      </div>
    </div>
    <div *ngIf="mostrar_items">
      <div class="row mb-3">
        <div class="col-md-4 mb-3">
          <h5 class="letra-morada">Item:</h5>
        </div>
        <div class="col-md-8">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h5 class="letra-morada">Responsable: </h5>
      </div>
      <div class="col-md-8">
        <label>{{responsable}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h5 class="letra-morada">Estado:</h5>
      </div>
      <div class="col-md-8">
        <label>{{estado}}</label>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-4">
        <h5 class="letra-morada">Prioridad: </h5>
      </div>
      <div class="col-md-8">
        <label>{{prioridad}}</label>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-12">
        <h3 class="letra-morada" style="text-align:center;">Asunto:</h3><br/>
      </div>
      <div class="col-md-12">
        <textarea  type="text" class="form-control" disabled="true">{{ticket?.asunto}}</textarea>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-12">
        <h3 class="letra-morada" style="text-align:center;">Descripción:</h3><br/>
      </div>
      <div class="col-md-12">
        <textarea  type="text" class="form-control" disabled="true">{{ticket?.descripcion}}</textarea>
      </div>
    </div>
    <div class="card-footer mt-auto">
      <div class="row">
        <div class="col">
          <button class="btn boton_morado mt-3" style="text-decoration: none; width:100%;" (click)="cerrar_editarTicket()">CERRAR</button>
        </div>
      </div> 
    </div>
  </div>
</div> 
